.section-loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9999;
  background-color: #eae4e4;

  .loader-overflow {
    z-index: 9999;
    mix-blend-mode: difference;
    overflow: hidden;

    .loader-text {
      font-family: 'Bai Jamjuree';
      font-size: 14vw;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0;
      line-height: 95%;
      mix-blend-mode: difference;
      z-index: 9999;
      // color: #72e4e4;
    }
  }

  .loader-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    height: 100%;
    background-color: #202020;
  }
}
